.chido {
    background-color:white;
    width: 500px;
    height: 300px;
    margin: 30px auto;
}
.titulo{
    background-color:green;
    color: white;
    height: 50px;
    padding: 1px;
}
.todo{
    background-color: bisque;
    width: 300px;
    height: 40px;
    margin: 10px;
    padding: 10px;
    color: black;
}
.chido2 {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
   
  }
.boton{
    background-color: green;
    color: white;
    border-style: none;
    width: 100px;
    height: 30px;
    margin: 10px;
}
.boton:hover{
    background-color: yellow;
    color: blue;
}